In [3]:
!protoc --python_out=. --proto_path=../proto/ message.proto

In [ ]:
import message_pb2
import pandas as pd
import requests
import time

def parse_snoop(data):
	position = 0
	length_field = 0
	while position < len(data):
		length_field = data[position]
		position += 1
		if position + length_field > len(data):
			print("bah!")
			return
		encoded = data[position:position+length_field]
		position += length_field
		s = message_pb2.SnoopData()
		s.ParseFromString(encoded)
		yield s

In [16]:
host="192.168.158.113"
host="192.168.50.116"
duration_ms=1000
r = requests.get(f"http://{host}/start_snoop?duration_ms={duration_ms}", {})
print(r.text)
time.sleep(duration_ms/1000+0.1)
r = requests.get(f"http://{host}/get_snoop", {})
print(len(r.content))

Snoop started. will run for 1000 buffer available: 51200
12572

In [17]:
#f = open("snoop.bin", "rb")
#cont = f.read()
#f = open("snoop2.bin", "wb")
#f.write(r.content)
#f.close()
d=[]
#for s in parse_snoop(cont):
for s in parse_snoop(r.content):
	d.append({"prop": s.message.prop, "value":s.message.value, "src": s.metadata.source, "ts":s.metadata.recv_us})
df = pd.DataFrame(d)
df

          prop                     value  src         ts
0          342  b'\x19\x83\xa3\x87I\xed'    1  104676236
1          342  b'\x19\x83\xa3\x87I\xed'    2  104677342
2    426519218      b'\x1c\xd3@\xf2\xdc'    1  104678198
3    426519218      b'\x1c\xd3@\xf2\xdc'    2  104679225
4     48885000       b'\x83\xda\x92\x1f'    1  104680270
..         ...                       ...  ...        ...
534   28344058               b'\xde\xb2'    1  105660008
535   28344058               b'\xde\xb2'    2  105660713
536       2032          b'\x7f\x95\x15P'    2  105672169
537  125637886    b'\x1e\x8d\x1d\t\xe1,'    1  105674074
538  125637886    b'\x1e\x8d\x1d\t\xe1,'    2  105674922

[539 rows x 4 columns]

In [18]:
df[df.src==1].prop.unique()

array([      342, 426519218,  48885000, 447512792, 106468406,      1826,
       415604280,       268,       930,      1252, 186277654, 222787050,
            2008,      1492, 226575632,      1014, 352531596,      1166,
       466861792,      1748, 327923662,      1652,      1378, 281404958,
       213930490, 424296178,        64,  97395262, 128311776, 153606910,
        92496406,      1324,  77189712, 160181264, 224265350, 460697444,
             424,       986,       750,      1086, 204235378, 531111792,
            1296,        58, 118547498,       126,       572, 288192684,
       133553248,       808,      1954, 486411084,  53947286,      1422,
             792, 322914082,      1360, 161026198,       266,       214,
        73360796,       576,       718,       712, 176421414, 486676664,
             134,      1608,       976,       620, 506107350,  97355154,
               8, 390394314, 493706770, 228457352,      1882, 225987762,
             778,       350, 354768598,        40,       814,       988,
       145982762,  69469932, 283404270,      1824, 374433434, 508868860,
       360881538, 393426736, 164554698,      1548,      1626, 304729348,
            1224,  14148200,  51848226, 355917372, 134679852,  98846164,
            1218,  21340964,        24,      2012, 411255328, 455819442,
            1092,       760,  90357152, 451192796, 138008490,       182,
            1402,      1646,       208, 306833732, 153977904,       296,
            1808,      1102, 366276168, 466928408, 493120786, 187036034,
       228079922, 278717728, 488190116,      1362, 132147294,       112,
            1190,        30,      1364, 438476914, 517659184,       286,
       308924990,      1628, 277264838,       200, 322866222,      1298,
       132976370,      1888,      1850,       138,      1570, 214868288,
             898,      1270,  55998866, 502422254,      1756, 361735112,
       483061378, 516026720, 367735188, 125033672,       582, 462278652,
       340190652, 348683336,       556,      1056, 341774690,  64622086,
       135447768, 389058502,       192, 211234828,       578,      2040,
            1318,       534,      1722,      1414, 365788312,      1264,
       382171852, 240189356, 455182674, 405684800, 217315324,       664,
             766,      1764, 331402698,      1268,  32221170, 238065186,
            1466,      1512,        98, 165426068,       502,  19731790,
             548, 516601822,      1672,       360, 402919658, 370663002,
            1796, 107100110, 425123938, 269065724,        84,      1566,
       498736062,       480, 414352486,      1806,       198, 387195024,
        74297718, 162246334,  28344058, 125637886])